@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'sans-serif';
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 34, 68);

}

.header h3,.footer h3 {
  color: rgb(223, 221, 221);
  font-style: bold;
}


.footer {
  margin-top: auto;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 34, 68);
}

.footer, .header {
  font-size: 20px;
}


.middle {
  min-height: 50vh;
  position: relative;


}

.intro,.match,.gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.intro  h1{
  color: rgb(223, 221, 221);
  font-style: bold;


}

.match {
  opacity: 0;
  pointer-events: none;
}

.gameover {
  opacity: 0;
  pointer-events: none;
}